<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="LogLevel" value="Debug" />
    <add key="EnableAuthentication" value="true" />
    <add key="ModulesFolder" value="${basedir}/bin/modules" />
    <add key="LogFilename" value="${basedir}/log/NancyASPHost.log" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <!-- Increase upload file maximum size in Kbytes (50mb) -->
    <httpRuntime maxRequestLength="51200" />

    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>


  <system.webServer>
    <!-- Increase upload file maximum size to 50mb -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="51200" />
      </requestFiltering>
    </security>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
    
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>
